<!--
Team Herald: Aryaman Goenka, Shyne Choi, Zhao Yu Lin, Untitled, Bun bun, Timber
SoftDev
K13: Putting Little Pieces Together / Predicting rudimentary flask apps
10-04-2021
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      K13: Template for Success
    </h1>

    <h1>Aryaman Goenka, Shyne Choi, Zhao Yu Lin {Untitled, Bun bun, Timber}</h1>

    <h3>Choice: {{choice}}</h3>



    <table>
      <tr>
        <th> Occupation </th>
        <th> Percentage </th>
      </tr>

      {% for key, value in result.items() %}
      <tr>
        <td> {{ key }} </td>
        <td> {{ value }}</td>
      </tr>
    {% endfor %}

    </table>


  </body>
</html>
